<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" ng-app>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>MI研究所</title>
    <link href="<?php echo base_url() . 'style/index/' ?>css/bootstrap.css" rel="stylesheet" />
    <link href="<?php echo base_url() . 'style/index/' ?>css/homepage.css" rel="stylesheet" />
    <link href="<?php echo base_url() . 'style/index/' ?>css/common.css" rel="stylesheet" />



</head> 
<body>
    <?php echo $this->load->view('index/home/homenav.html') ?>
    <div>
        <div class="header">
            
        </div>
        <article>
            <div class="wrap news_wrap">
                123

                <nav class="nav nav-pills nav-stacked"id="news_nav"><!--确认presentation有没有用-->
                    <ul>
                        <li role="presentation"><a href="" title="关于我们">关于我们</a></li>
                        <li role="presentation"><a href="" title="联系方式">联系方式</a></li>
                        <li role="presentation"><a href="" title="招兵买马">招兵买马</a></li>
                        <li role="presentation"><a href="" title="常见问题">常见问题</a></li>
                    </ul>
                </nav>

                <section id="news_content">
                    <ul>
                        <!--
                        <li class="newslist_image">
                            <div class="img float"> 
                                <div class="cover">
                                    <a href="/courses/NCTU/nctucmszb/2015_T1/about" title="点击查看" target="_blank">点击查看</a>
                                </div> 
                                <img src="<?php echo base_url() . 'style/index/' ?>images/3.jpg" alt="孙子兵法与企业经营" title="孙子兵法与企业经营"> 
                            </div> 
                            <div class="float center"> 
                                <p class="name">台湾交通大学 科技管理研究所 教授&nbsp;&nbsp;虞孝成</p> 
                                <h3><a href="/courses/NCTU/nctucmszb/2015_T1/about" title="孙子兵法与企业经营" target="_blank">孙子兵法与企业经营&nbsp;&nbsp;<span>NCTU&nbsp;szb</span></a></h3> 
                                <p class="txt">期望学习者能将课程内容与现代各领域的管理理论互相呼应，在人生的道路上，作出明智的抉择。 </p> 
                            </div>
                            <div class="right float">
                                <p class="green">即将开课</p> 
                                <p class="updata">更新于 4天前</p>
                                <p><a>助教在线</a></p>
                            </div>
                        </li>
                    -->
                    </ul>
                </section>
            </div>
        </article>
            
        <div class="footer">
            <div class="wrap">
                <ul>
                    <li>
                        <div class="title">
                            <a href="#" target="_blank">
                                <p class="view">
                                    研究所概况
                                </p>
                            </a>
                        </div>                            
                        <div class="content">
                            <p>
                                <a href="#">SMC-SJTU实验室</a>
                            </p>
                            <p>
                                <a href="#">电梯检测中心</a>
                            </p>
                            <p>
                                <a href="#">远程监控及智能维护中心</a>
                            </p>
                            <p>
                                <a href="#">研究所历史</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            <a href="#" target="_blank">
                                <p class="view">
                                    MI照片墙
                                </p>
                            </a>
                        </div>                            
                        <div class="content">
                            <p>
                                <a href="#">教师</a>
                            </p>
                            <p>
                                <a href="#">工程师</a>
                            </p>
                            <p>
                                <a href="#">学生</a>
                            </p>
                            <p>
                                <a href="#">访问学者</a>
                            </p>
                            <p>
                                <a href="#">MI照片墙</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            <a href="#" target="_blank">
                                <p class="view">
                                    研究项目
                                </p>
                            </a>
                        </div>                            
                        <div class="content">
                            <p>
                                <a href="#">科研方向</a>
                            </p>
                            <p>
                                <a href="#">论文出版</a>
                            </p>
                            <p>
                                <a href="#">在研项目</a>
                            </p>
                            <p>
                                <a href="#">合作单位</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            <a href="#" target="_blank">
                                <p class="view">
                                    影响力
                                </p>
                            </a>
                        </div>                            
                        <div class="content">
                            <p>
                                <a href="#">知识产权</a>
                            </p>
                            <p>
                                <a href="#">成果展示</a>
                            </p>
                            <p>
                                <a href="#">产业化服务</a>
                            </p>
                            <p>
                                <a href="#">公益活动</a>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="aboutus">
                <div class="aboutus-bottom">
                    <ol class="nav footer-about">
                        <li>
                            <a href="#" target="_blank">联系我们</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">关于我们</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">友情链接</a>
                        </li>
                    </ol>
                    <ol class="nav footer-follow">
                        <li class="focusus">关注我们</li>
                        <li><a href="" target="_blank"></a></li>
                        <li><a href="" target="_blank"></a></li>
                        <li><a href="" target="_blank"></a></li>
                        <li><a href="" target="_blank"></a></li>
                    </ol>

                </div>
                <p class="bottom-info">
                    <span class="info">
                        <span>电话查号台：010-62793001</span>
                        <span>管理员信箱：xinxiban@tsinghua.edu.cn</span>
                        <span>地址：北京市海淀区清华大学</span>
                    </span>
                    <span class="copy">版权所有 © 清华大学　　访问量:<span id="total">74373275</span></span>
                </p>
            </div>
        </div>
    </div>

</body>
    <script src="<?php echo base_url() . 'style/index/' ?>js/jquery.min.js"></script>
    <script src="<?php echo base_url() . 'style/index/' ?>js/bootstrap.js"></script>
    
    <script type="text/javascript">
    //翻转
    var turn = function(target,time,opts){
        target.find('li').hover(function(){
            $(this).find('.former').stop().animate(opts[0],time,function(){
                $(this).hide().next().show();
                $(this).next().animate(opts[1],time);
            });
        },function(){
            $(this).find('.latter').animate(opts[0],time,function(){
                $(this).hide().prev().show();
                $(this).prev().animate(opts[1],time);
            });
        });
    }
    var verticalOpts = [{'width':0},{'width':'260px'}];
    turn($('.newslist'),100,verticalOpts);
    </script>
</html>
